.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    border-style: solid;
    border-width: 0.5px, 0.5px;
}

.grid .empty {
    height: 19px;
    width: 19px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
}

.grid .red {
    background-color: red;
}

.occupied {
    height: 20px;
    width: 20px;
    border-style: None;
}

.tetraminos {
    background-color: rgb(43, 204, 142);
}