.container {
    display: flex;
}

body {
    background-color: rgb(32, 18, 8);
    color: white
}

.minigrid {
    width: 80px;
    height: 80px;
    background-color: #c28d8d;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    margin-top: 45px;
    margin-left: 20px;
}

h3 {
    height: 30px;
    margin-left: 20px;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    border-style: solid;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 15%;
}

.minigrid .empty {
    height: 18px;
    width: 18px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
}

.grid .empty {
    height: 18px;
    width: 18px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
}

.occupied {
    height: 19px;
    width: 19px;
    border-style: None;
}

.grid .bottom {
    border-style: none;
}

.tetraminos {
    background-color: #2bcc8e;
}